
<div class="container-fluid">
  <input style="float:right;" type="text" placeholder="global search" (input)="0" #srchVal>{{srchVal.value}}
<div class="row" style="text-align:center;">
  <h3 style="top:5px;bottom:20px;color:green;">Global Search</h3>
  
  <div class="col-md-4" style="text-align:left;">
    Search Form/Table:
    <select [(ngModel)]="search.table_Value" (change)="onSearchTable(search.table_Value)">
      <option>Select Table</option>
      <option *ngFor="let menu of globalMenu" value="{{menu.name}}">{{menu.name}}</option>
    </select>
  </div>
  <div class="col-md-4" style="text-align:left;">
    Search Field:
    <select [(ngModel)]="search.field_Value">
      <option>Select Field</option>
      <option *ngFor="let field of fieldsArray" value="{{field}}">{{field}}</option>
    </select>
  </div>
  <div class="col-md-3" style="text-align:left;">
    Search Value:
    <input id="searchValue" [(ngModel)]="search.text_value" required>
    <span>{{errorMsg}}</span>
  </div>
  <div class="col-md-1" style="text-align:left;">
    <button (click)="onSubmit(search)">Submit</button>
  </div>
</div>
<div class="row" style="text-align:center;">
  <h3 style="color:green">{{search.table_Value}}</h3>
</div>
</div>

<div class="container">
  <div class="row">
    <table class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
          <th *ngFor="let field of fieldsArray">
            <span style="cursor:pointer;" (click)="onSortField(field)">
              {{field}}
            <span><i class="fa fa-caret-down" style="font-size:18px"></i></span>
            </span>
          </th>
          <th>Delete 
            <div *ngIf='fieldsList' style="background-color:darkgray;float:left;position:fixed;border:1px solid black;">
              <span *ngFor="let field of fieldsArray" style="padding:5px;">
                <input type="checkbox" (click)="onSelectField(field)"> {{field}}<br>
              </span>
            </div>
            <i (click)="fieldsList=!fieldsList" style="cursor:pointer;float:right;" class="fa fa-bars" aria-hidden="true"></i>
          </th>
        </tr>        
      </thead>
      <tbody>
        <tr *ngFor="let data of dataArray|filter:srchVal.value">
          <td *ngFor="let field of fieldsArray">{{data[field]}}</td>
          <td>
          <span style="cursor:pointer;" (click)="removeAssociate(data)"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
          </td>
        </tr>        
      </tbody>
    </table>
  </div>
</div>
