<!--The whole content below can be removed with the new code.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!    
    <span>{{param}}</span> 
  </h1>
</div>    -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Welcome to {{title}}!!    
    <span>{{param}}</span> </a>
  </div>
  <ul class="nav navbar-nav">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
    <!--<li><a [routerLink]="['/user',id.value]" routerLinkActive="active">User</a></li>-->
    <li><a routerLink="/user" routerLinkActive="active">User</a></li>
    <!-- <li><a routerLink="/user-detail" routerLinkActive="active">UserDetails</a></li>
    <li><a routerLink="/user-edit" routerLinkActive="active">UserEdit</a></li> -->
    <li><a routerLink="/server-commn" routerLinkActive="active">Server Commn</a></li>
    <!--<li><a routerLink="/demo1" routerLinkActive="active">Demo 1</a></li>-->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Forms
            <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a routerLink="/user-detail" routerLinkActive="active">Data Driven</a></li>
        <li><a routerLink="/user-edit" routerLinkActive="active">Template Driven</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Demos
            <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a routerLink="/demo1" routerLinkActive="active">Demo 1</a></li>
        <li><a routerLink="/" routerLinkActive="active">Pipes</a></li>
        <li><a routerLink="/" routerLinkActive="active">Animations</a></li>
      </ul>
    </li>
    <li><a routerLink="/dynamic-grid" routerLinkActive="active">Dynamic Grids</a></li>
  </ul>
</nav>
<br><br><br>
<div>
  <!-- <input type="text" #id (input)="0"> -->
  <router-outlet></router-outlet>
</div>

<!--<app-other></app-other>-->

<!-- Trigger/Open The Modal -->
<!-- <button id="myBtn" (click)='openModal()'>Alert</button>

<div id="myModal" class="modal">
  <div class="modal-content" style="width:40%;">
     <div class="modal-header">
      <span class="close" (click)='closeModal()'>&times;</span>
      
     </div> 
     <div class="modal-body">
      <h3>This is demo alert or popup box</h3>
     </div>
     
  </div>
</div> -->