<!--The whole content below can be removed with the new code.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!    
    <span>{{param}}</span> 
  </h1>
</div>    -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
      <a class="navbar-brand" href="/">Welcome to {{title}}!!    
    <span>{{param}}</span> </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
    <li><a [routerLink]="['/user',id.value]" routerLinkActive="active">User</a></li>
    <li><a routerLink="/user-detail" routerLinkActive="active">UserDetails</a></li>
    <li><a routerLink="/user-edit" routerLinkActive="active">UserEdit</a></li>
    <li><a routerLink="/server-commn" routerLinkActive="active">Server Commn</a></li>
    </ul>
</nav>
<br><br><br>
<div>
    <input type="text" #id (input)="0">
    <router-outlet></router-outlet>
</div>

<!--<app-other></app-other>-->

